@import '../../../../../theme/variables.scss';

.select_items {
  margin: 20px 25px 0px 20px;
  display: flex;
  flex-direction: row;
  font-size: $primary-font;
}
.wrapper {
  margin-top: $margin;
}
.dot {
  margin-right: 5%;
  height: 10%;
  width: 10%;
  background-color: $brand-primary;
  border-radius: 50%;
  border: 3px solid $brand-primary;
  color: $white;
  font-weight: bold;
  font-size: $secondary-font;
  text-align: center;
}

.footer_btn {
  background-color: $toolbar-bg;
  height: 6.593vh;
  position: fixed;
  bottom: 0;
  width: 100%;
  button {
    width: 30%;
    height: 50%;
    float: right;
    margin: 4% 5%;
    outline: none;
  }
}
