@import '../../common-style.scss';
@import '../../../../../theme/variables.scss';

.popup-wrapper {
	margin: 0 auto;
	max-width: 27.713vw;

	.input-width {
		width: 100%;
	}
	.text-center {
		text-align: center;
	}
	label {
		text-align: center !important;
	}
}
