.toolbar-controls {
    display: flex;
    flex-wrap: wrap;
    
    .simulation-controls {
        display: flex;
        align-items: center;
        margin: 5px;

        .checkbox-control {
            label,
            input {
                cursor: pointer;
                user-select: none;
            }
        }
    }

    .range-input-control {
        display: flex;
        flex-direction: column;
        margin: 5px;

        .range-input-label {
            text-align: center;
            user-select: none;
        }

        .range-input-wrapper {
            display: flex;
            align-items: center;

            .slow-label,
            .fast-label {
                margin: 0 5px;
                user-select: none;
            }

            input {
                cursor: pointer;
            }
        }
    }

    .time-info {
        display: flex;
        margin-left: auto;

        .time,
        .delta-time {
            margin: auto 10px;
            user-select: none;
        }
    }
}

.btn {
    align-items: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    margin: 5px;
    padding: 6px;
    width: 40px;

    .btn-icon {
        max-width: 100%;
    }
}