<div class="wrapper">
	<div class="wiring-tabs">
		<button class="tab">
			<img
				src="assets/images/icons/bank.gif"
				alt="Godley table"
				title="Godley table"
			/>
		</button>
		<button class="tab">
			<img
				src="assets/images/icons/var.gif"
				alt="Variable"
				title="Variable"
			/>
		</button>
		<button class="tab">
			<img
				src="assets/images/icons/integrate.gif"
				alt="Integrate"
				title="Integrate"
			/>
		</button>
		<button class="tab">
			<img
				src="assets/images/icons/switch.gif"
				alt="Switch"
				title="Switch"
			/>
		</button>
		<button class="tab">
			<img
				src="assets/images/icons/plot.gif"
				alt="PlotWidget"
				title="PlotWidget"
			/>
		</button>
		<button class="tab">
			<img
				src="assets/images/icons/sheet.gif"
				alt="Sheet"
				title="Sheet"
			/>
		</button>
		<button class="tab">
			<img
				src="assets/images/icons/ravel.gif"
				alt="Ravel"
				title="Ravel"
			/>
		</button>
	</div>
	<div id="offsetValue" class="minsky-canvas">
		<canvas></canvas>
	</div>
</div>
