.popup-wrapper {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background: #c8ccd0;
    width: fit-content;
}

.popup-title {
    margin: 30px 0;
    text-align: center;
}

.form-control {
    margin-bottom: 1px;
}

.form-control label {
    min-width: 130px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    margin-right: 1px;
}

input {
    width: 120px;
}

.form-buttons {
    margin: 30px 0;
    text-align: center;
}

.form-buttons .btn {
    display: inline-block;
}

.background-wrapper {
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
}

#myColor {
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}

#myColor:focus {
    outline: none;
}

.background-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}