<app-header></app-header>
<div class="tabs-section">
  <div class="tabs">
    <div routerLink="./wiring" class="wiring tab">
      <label>
        Wiring
      </label>
    </div>
    <div class="equations tab">
      <label>
        equations
      </label>
    </div>
    <div class="parameters tab">
      <label>
        parameters
      </label>
    </div>
    <div class="variables tab">
      <label>
        variables
      </label>
    </div>

  </div>
  <router-outlet></router-outlet>
</div>
