@import '../theme/variables.scss';

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.tabs-section {
  border-top: 1px solid white;
  flex: 1;

  .tabs {
    display: flex;
    border-bottom: 1px solid $toolbar-border-light;

    .tab {
      border-left: 1px solid $toolbar-border;
      background-color: $toolbar-bg;

      label {
        padding: 3px;
        margin: 2px;
        font-size: $primary-font;
      }
    }
  }
}
