.popup-wrapper {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	max-width: 360px;
	.example-form {
		min-width: 150px;
		max-width: 500px;
		width: 100%;
	}

	.example-full-width {
		width: 100%;
	}
}
