<div class="background-wrapper">
	<input type="text" [value]="defaultClr" />
	<div class="background-buttons">
		<!-- <mat-form-field>
			<input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr" [disabled]="disabled">
			<ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
			<ngx-mat-color-picker #picker [touchUi]="touchUi" [color]="color"></ngx-mat-color-picker>
		</mat-form-field> -->
		<button class="btn ok-btn" id="backgroundOk" (click)="onClickOk()">
			OK
		</button>
		<button class="cancel-btn" (click)="close()">Cancel</button>
	</div>
</div>
