<div class="popup-wrapper">
  <div class="form-wrapper">
    <form class="example-form" [formGroup]="formBookmark">
      <mat-form-field class="example-full-width">
        <mat-label>Bookmark name</mat-label>
        <input
          type="text"
          matInput
          [value]="bookmark"
          formControlName="bookmark"
        />
      </mat-form-field>
      <div class="form-control form-buttons">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="btn ok-btn"
          (click)="onClickOk()"
        >
          OK
        </button>
        <button
          mat-raised-button
          type="submit"
          color="primary"
          class="btn cancel-btn"
          (click)="close()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
